@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sakkal Majalla";
  src: url("/fonts/majalla.woff") format("woff2"),
    url("/fonts/majallab.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-size-adjust: inherit;
  /* Optional: add font-display for better loading */
  font-display: auto;
}

body {
  height: 100vh;
  font-family: "Mirza", sans-serif;
  font-size: larger;
}

.ql-editor {
  font-size: 1.05rem;
}

.post-content p {
  margin-bottom: 0.5rem;
}

.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content h2 {
  font-size: 1.4rem;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content a {
  color: rgb(73, 149, 199);
  text-decoration: none;
}

.post-content a:hover {
  text-decoration: underline;
}

.dark .post-content a {
  color: red;
}

.anek-bangla-font {
  font-family: "Anek Bangla", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.mirzaFont {
  font-family: "Mirza", serif;
  font-weight: 500;
  font-style: normal;
}

body {
  height: 100vh;
}
html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

html.dark {
  background-color: #1a202c; /* Adjust for dark mode */
  color: #fff;
}
.ql-editor {
  font-size: 1.05rem;
}

.post-content p {
  margin-bottom: 0.5rem;
}

.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content h2 {
  font-size: 1.4rem;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content a {
  color: rgb(73, 149, 199);
  text-decoration: none;
}

.post-content a:hover {
  text-decoration: underline;
}

.dark .post-content a {
  color: red;
}

.dark .ql-editor::before {
  color: white !important;
}
